.nav{
    position: fixed;
}
.insta{
    width: 120px;
    margin: 6% 4% 6% 6%;
}
ul{
    font-family: sans-serif;
    font-weight: 400;
    margin: 4% 0 4% 0;
}

.lists{
   display: flex; 
   position: relative;
   padding: 12px 50px 12px 18px;
   margin-bottom: 6px;
   text-align: justify;
   background-color: #ffffff;
   border-radius: 15px;
   cursor: pointer;
}
.lists span{
    margin-right: 15px;
}
ul li:hover{
    background-color: #e7e7e7;
    cursor: pointer;
}
.profile{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
}